<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)='onSubmit()' [formGroup]='keyForm'> 
      <div class="form-group">
        <label>Key</label>
        <input type="text" class="form-control" formControlName='key' [ngClass]='{"approved": keyForm.get("key").errors?.keyLengthTruth}'>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]='keyForm.get("key").errors?.keyLengthException'>Find the First Round Key</button>
    </form>
  </div>
</div>
<app-permuted-choice-one></app-permuted-choice-one>
<div class="row">
  <div class="col-xs-6">
    <app-left></app-left>
  </div>
  <div class="col-xs-6">
    <app-right></app-right>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <app-left-shift></app-left-shift>
  </div>
  <div class="col-xs-6">
    <app-right-shift></app-right-shift>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-combine></app-combine>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-permuted-choice-two></app-permuted-choice-two>
  </div>
</div>
<div style="margin-bottom: 60px;"></div>