<div class="row">
  <div class="col-xs-8 pull-right">
    <app-expansion-permutation></app-expansion-permutation>
  </div>
</div>
<div class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-7">
    <app-xor></app-xor>
  </div>
</div>
<div class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-5 pull-right">
    <app-s-box></app-s-box>
  </div>
</div>
<div class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-5 pull-right">
    <app-outer-permutation></app-outer-permutation>
  </div>
</div>